$font-color: #202020;
$font-color--light: #AAAAAA;
$color__gray--dark: #444444;
$color__gray--light: #999999;
$body-background-color: #E8E8E8;

$icon-color--active: #EC3A3A;

$full-space: 2rem;
$half-space: 1rem;